{% extends "main/main.html" %}
{% load static %}
{% block title %}Мой профиль{% endblock title %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label for="first_name">Имя</label>
        <input type="text" name="first_name" value="{{ form.first_name.value }}">        
    </p>
    <p>
        <label for="last_name">Фамилия</label>
        <input type="text" name="last_name" value="{{ form.last_name.value }}">
    </p>
    {% if user.image %}
        <img width="130" src="{{ user.image.url }}" alt="Фото-иконка">
    {% else %}
        <img width="130" src="{% static "users/icons/user_icon.jpg" %}" alt="Фото-иконка">
    {% endif %}
    <p><input type="file" name="image"></p>
    <input type="submit" value="Сохранить">
</form>

{% endblock content %}